body {
    background-color: #28174E;
    font-size: 18px;
}
.dbdata {
    margin: 3rem;
}

.header {
    text-align: center;
}
.upcolor {
    background-color: #5AC3BF;
}
.downcolor {
    background-color: #ff2a26;
}

.updatetime {
    font-size: 14px;
    float: right;
    margin-right: 3rem;
}

.dbtable {
    margin: 3rem;
}

.footer {
    height: 50px;
    width: 100%;
    position: absolute;
    bottom: 1rem;
    background-color: #eee;
}

.tickerInput {
    width: 300px;
}

.sectionHeader {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    height: 25px;
    line-height: 25px;
    background: #8884d8;
    color: white;
    font-style: italic;
}

.pageHeader {
    color: white !important;
}
.ui.primary.button, .ui.primary.buttons .button .searchbtn{
    margin: 10px !important;
    width: 80px;
    border-radius: 40px;
    background: #28174E;
    border: 1px solid white;
}
.ui.primary.button.searchbtn:focus {
    background: #28174E;
}
.ui.primary.button.searchbtn:hover{
    width: 80px;
    border-radius: 40px;
    background: #8884d8;
    border: 1px solid white;
}
.table {
    margin: 10px 0px !important;
}

.desc {
    color: green;
    font-size: 12px;
}

.hide {
    display: none;
}

.show {
    display: block;
}

@media only screen and (max-width: 480px) {
    .dbdata {
      margin: 10px 0px;
    }
  }