body {
    background-color: #e5e5e5;
    font-size: 18px;
}
.dbdata {
    margin: 3rem;
}

.header {
    text-align: center;
}
.upcolor {
    background-color: #DAF7A6;
}
.downcolor {
    background-color: #ff2a26;
}

.updatetime {
    font-size: 14px;
    float: right;
    margin-right: 3rem;
}

.dbtable {
    margin: 3rem;
}

.footer {
    height: 50px;
    width: 100%;
    position: absolute;
    bottom: 1rem;
    background-color: #eee;
}

.tickerInput {
    width: 300px;
}

.sectionHeader {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    height: 35px;
    line-height: 35px;
    background: antiquewhite;
    color: black;
    font-style: italic;
}
.searchbtn {
    margin: 10px !important;
}

.table {
    margin: 10px 0px !important;
}

.desc {
    color: green;
    font-size: 12px;
}


@media only screen and (max-width: 480px) {
    .dbdata {
      margin: 10px 0px;
    }
  }